<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complication - watchapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Glance - Prioritize WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Glance - watchapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Notification - Prioritize WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Notification - watchapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Prioritize WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Prioritize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>watchapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31048AA01B294483005A1D75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31048AAC1B294483005A1D75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>311A2DE51BA932540078422E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31B12B861AA29E4E00C6B2C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31B12B9B1AA29E4E00C6B2C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31C12A821B2A3CDD00DCB617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
